* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #212A3E;
}

nav .nav-center {
    height: 68px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links .nav-link {
    font-size: 2.2rem;
    display: inline-block;
}

.nav-links .nav-link:not(:first-child) {
    padding: 0 1.8rem;
}

.nav-links .nav-link a {
    transition-duration: 200ms;
}

.nav-links .nav-link a:hover {
    color: #D14D72;
}

.logo-text {
    font-size: 2.6rem;
}

.logo-text, .nav-links .nav-link {
    color: #F6F1F1;
}

.container {
    height: calc(100dvh - 68px);
}

.container .info {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 3rem 8rem;
    border-radius: 12px;
    background-color: #212A3E;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.container .color-text {
    color: #F6F1F1;
}


.container .btn-generate {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    transition-duration: 250ms;
    background-color: #FFEEB3;
}

.container .btn-generate:hover {
    color: #146C94;
}

.container .color-text {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-size: 2.2rem;
}

.container .color-text .material-symbols-outlined {
    cursor: pointer;
    transition-duration: 250ms;
}

.container .color-text .color-code {
    letter-spacing: 3px;
}

.container .color-text .material-symbols-outlined:hover {
    color: #87CBB9;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    nav .nav-center {
        height: 84px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 12px;
    }

    .container {
        height: calc(100dvh - 84px);
    }
}